* { margin: 0; padding: 0; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }

html, body { width: 100%; height: 100%; overflow: hidden; position: fixed; -webkit-overflow-scrolling: none; overscroll-behavior: none; }
body { touch-action: none; }

body { background-color: #0C2D41; display: flex; align-items: center; justify-content: center; }
canvas { background: #103050; width: 700px; height: 1000px; }