* { margin: 0; padding: 0; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }

html, body { width: 100%; height: 100%; overflow: hidden; position: fixed; -webkit-overflow-scrolling: none; overscroll-behavior: none; }
body { touch-action: none; }

body { background-color: #000; }
canvas { position: absolute; top: 0; left: 0; width: 100dvw; height: 100dvh; }
#canvas { background: #103050; }
#notes { pointer-events: none; }